
<%  
  @user_set_ingredients ||=[] 


  recipe_ingredients ||= []
  ingredients_list ||=[]
  existing_ingredients =  get_existing_ingredient_array_of_hash
  recipe_ingredients =  get_recipe_ingredient_array_of_hash(@recipe) if @recipe.persisted?
  ingredients_list = recipe_ingredients if @user_set_ingredients.empty?
  ingredients_list = @user_set_ingredients if recipe_ingredients.empty?

  puts ingredients_list.inspect
  # ingredients_list = make_combo_ingredients(@user_set_ingredients, recipe_ingredients)
 %>


<%= render "/common/images_upload_modal"%>
<%= form_for(@recipe, :html => { :multipart => true , :class => 'form-horizontal'}) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation" class="control-group">
      <div class="alert alert-info">
        <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <%= print_if_notice notice %>

  <div class="control-group">
    <label class="control-label" for="inputEmail">Recipe Name</label>
    <div class="controls">
      <input  type="hidden" name="recipe[aggregate_ratings]" value='<%=0%>'>
      <input class="span8" type="text" id="inputEmail" placeholder="reipe name" name="recipe[name]" value='<%="#{@recipe.name}"%>' required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Discription</label>
    <div class="controls">
      <textarea id="recipe-description" class="span8" name="recipe[description]" cols="30" rows="10" value="" required>
        <%= "#{@recipe.description }"%>
      </textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">serves</label>
    <div class="controls">
      <input class="span4" type="number" name="recipe[serves]" placeholder="4" required value="<%= @recipe.serves %>" required>
    </div>
  </div>  
  <div class="control-group">
    <div class="controls">
       <h5>Type and select ingredients from the list of existing ingredients</h5>
    </div>
  </div>
  <div class="control-group inline">
    <label class="control-label">Select existing ingredients</label>
    <div class="controls">
    
      <select multiple="multiple" id="existing-ingredient-list" class="chosen-select">
      <% existing_ingredients.each do |ing| %>
        <option value='<%= "#{ing['id']}-#{ing['name']}-#{ing['meal_class']}-#{ing['std_quantity']}-#{ing['calories_per_quantity']}-#{ing['std_measurement']}"%>' data-ingredient-name ="<%= "#{ing['name']}"%>" <%= selected_ingredient_for_chosen(@user_set_ingredients, recipe_ingredients, ing) %>>
          <%= ing['name'] %>
        </option>
        <% end %>
      </select>
    </div>
  </div>
 
  <div class="ingredients-container">
    <% ingredients_list.each_with_index do |ing, index| 
      if big_ingredient_container?(ing) %>
        <div class="add-ingredient" >
          <hr>
          <%= add_remove_ingredient_form_data(@recipe, ing) %>
          <div class="control-group">
            <label class="control-label" for="inputEmail" >ingredient name</label>
            <div class="controls">
              <input type="hidden"  name="ingredient[][id]" value="<%= ing['id'] %>" required>
              <input class="span8" type="text" placeholder="ingredient name" value="<%= ing['name'] %>"  name="ingredient[][name]" required>
            </div>
          </div>
          <div class="control-group inline">
            <label class="control-label" for="inputEmail">ingredient standard measurement </label>
            <div class="controls">
              <%= build_std_measurement_dropdown(:selected_true_value => ing['std_measurement'])%>
            </div>
          </div>
          <div class="control-group inline">
              <label class="control-label" for="inputEmail">ingredient meal class </label>
              <div class="controls">
                 <%= build_meal_class_dropdown(:selected_true_value => ing['meal_class'])%>
              </div>
          </div>
          <div class="control-group inline">
            <label class="control-label" for="inputEmail">ingredient standard quantity</label>
            <div class="controls">
              <input type="number" placeholder="example 10 grams" step="0.01" value="<%= ing['std_quantity'] %>" name="ingredient[][std_quantity]" required>
            </div>
          </div>
          <div class="control-group inline">
            <label class="control-label" for="inputEmail">ingredient quantity</label>
            <div class="controls">
              <input type="number" palceholder="e.g 1kg" step ="0.01" value="<%= ing['quantity'] %>" name="ingredient[][quantity]" required>
            </div>
          </div>
          <div class="control-group"> 
            <label class="control-label" for="inputEmail">calories per std qty</label>
            <div class="controls">
              <input type="number" name="ingredient[][calories_per_quantity]" step="0.01" required value="<%= ing['calories_per_quantity'] %>" required>
            </div>
          </div>
        </div>
      <%else%>
        <div class="add-ingredient">  
          <div class="control-group">
            <label class="control-label" for="ingredients"><%= ing['name'] %></label> 
             <%= add_remove_ingredient_form_data(@recipe, ing) %> 
              <div class="controls"> 
                <input type="hidden" name="ingredient[][id]" value='<%="#{ing['id']}" %>'>  
                <input type="hidden" name="ingredient[][meal_class]" value='<%="#{ing['meal_class']}" %>'> 
                <input type="hidden" name="ingredient[][std_quantity]" value='<%="#{ing['std_quantity']}" %>'> 
                <input type="hidden" name="ingredient[][calories_per_quantity]" value='<%="#{ing['calories_per_quantity']}" %>'> 
                <input type="hidden" name="ingredient[][name]" value='<%="#{ing['name']}" %>'> 
                <input type="hidden" name="ingredient[][std_measurement]" value='<%="#{ing['std_measurement']}" %>'> 
                <div class="input-append"> 
                  <input placeholder="add-quantity" type="number" step="0.01" name="ingredient[][quantity]" value='<%="#{ing['quantity']}" %>' required>
                  <span class="add-on"><%= ing['std_measurement'] %></span> 
                </div>
              </div> 
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="control-group">
    <div class="controls">
      <button id="add-ingredient" class="btn btn-info btn-small">Add More Ingredient</button>
    </div>
  </div>
  <div id="imageUpload" class="dropzone">
  </div>
  <div class="photo-id">
    <input type="hidden" id="add-photo-array" name="avatar[]" value="">
  </div>
  <br>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Save Recipe', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>

 

