<!-- @@TODO find dynamic instead of custom url for form-->
<%# form_for("/recipes/#{@recipe.id}", html: { multipart: true , :class => 'form-horizontal'}) do |f| %>

<%= render "/common/images_upload_modal"%>

<%= form_for(@recipe, html: { multipart: true , :class => 'form-horizontal'}) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation" class="control-group">
      <div class="alerts alert-danger">
        <% @recipe.errors.full_messages.each do |msg| %>
          <p class="text-center"><%= msg %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= print_if_notice(notice)%>
  </div>
 
  <div class="control-group">
    <label class="control-label" for="inputEmail">Recipe Name</label>
    <div class="controls">
      <input type="hidden" id="current_user_id">
      <input  type="hidden" name="recipe[aggregate_ratings]" value='<%=0%>'>
      <input class="span8" type="text" id="inputEmail" placeholder="reipe name" name="recipe[name]" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Discription</label>
    <div class="controls">
      <textarea class="span8" id="recipe-description" name="recipe[description]" cols="30" rows="10" required></textarea>
    </div>
  </div>
  
  
  <div class="control-group">
    <label class="control-label" for="inputEmail">serves</label>
    <div class="controls">
      <input class="span4" type="number" name="recipe[serves]" placeholder="ex.4" required>
    </div>
  </div>  

  <div class="control-group">
     <div class="controls"> 
      <h5> Type and select ingredients from the list of ingredietns </h5>
     </div>
  </div>

  <% if logged_in? %>
    <div class="control-group inline">
      <label class="control-label">Select existing ingredients</label>
      <div class="controls">
        <select multiple="multiple" id="existing-ingredient-list" class="chosen-select">
          <%= @existing_ingredients_list = get_existing_ingredient_list %>
          <%@existing_ingredients_list.each do |ing| %>
            <option value='<%= "#{ing.id}-#{ing.name}-#{ing.meal_class}-#{ing.std_quantity}-#{ing.calories_per_quantity}-#{ing.std_measurement}"%>' data-ingredient-name ="<%= "#{ing.name}"%>"><%= ing.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  <% end %>

  <!-- <div class="control-group inline">
   <div class="controls">
     <i class="fa fa-hand-o-left fa-3x  "></i>
     <button class="btn btn-info btn-small" id="add-existing-ingredients-block">click to add selected ingredients</button>
   </div> 
  </div>
  -->
  <div id="existing-ingredient-block">
  </div>

  <div class="ingredients-container">
  </div>

 
  <div class="control-group">
    <div class="controls">
      <button id="add-ingredient" class="btn btn-info btn-small">Add More Ingredients</button>
    </div>
  </div>

  <br>
 
  <div id="imageUpload" class="dropzone">
    
  </div>

  <!-- @@TODO precessqueue of images on click of button instead of auto  -->
 <!--  <div class="controle-group">
    <div class="controls"> 
      <a href="#" class='btn btn-small add-photo'>Make Recipe image gallery</a> 
    </div>
  </div> -->

  <br>
  
  <div class="photo-id">
    <input type="hidden" id="add-photo-array" name="avatar[]" value="">
  </div>
  
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Save Recipe', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
    // $(document).ready(function() {
    //     $('#select-ingredients').multiselect();
    // });
</script>


