<% @recipe_list||=[] 
	@admin_show_status ||= false
%>
<div class="container navbar-spacer">
	<h3 class="page-header"> <%= "#{@page_header}" %></h3>
	<%= render  '/common/rate_modal' %>
	<div id="display-notice-message">
		<% if notice %>
			<div class="alert alert-info">
				<%= notice %>
			</div>
		<% end %>
	</div>
<% @recipe_list.each do |rec| %>
	<div class="row">
		<div class="span12">
			<div class="media">
		    <a class="pull-left" href="#">
		  		<%= (!rec.photos.empty? ? (image_tag(rec.photos.first.avatar.url(:medium), :class => "media-object, img-rounded", :style=> "width:200px;height:150px")) : image_tag("missing.png", :style => "width:200px;height:150px;")) %>  
		    </a>
		    <div class="media-body">
		    <div>
		      <h4 class="media-heading inline page-header"><%= link_to(rec.name.titlecase, rec, {:class => "list-recipe-name"}) %> </h4>
		    </div>
		    <ul class="recipe-list-content">
		    	<li class="inline"> <%= print_star_rates(rec.aggregate_ratings) %> </li>
		    	<li class="inline vertical-divider"> | </li>
		    	<li class="inline"> <%= print_meal_class(rec.meal_class, 'list') %></li>
		    	<li class="inline pull-right"> <strong class="pull-right">created about <%= time_ago_in_words(rec.created_at) %> ago <%= print_list_user_name(rec) %> </strong>  </li>
		    </ul>
		      <p class="recipe-list-description">
		      	<%= strip_tags(rec.description).truncate(250) %>
		      </p>
		       
		    </div>
		  </div>
		</div>
	</div>
	<hr>
<% end %>
	<div class="row">
		<div class="span12">
			<div class="pagination pagination-large">
				<%= will_paginate @recipe_list, renderer: BootstrapPagination::Rails if !@recipe_list.empty? %>
			</div>
		</div>
	</div>
</div>


 