<%= render  '/common/rate_modal' %>
<div class="container navbar-spacer">
	<div class="row">
		<%= print_if_notice notice%>
		<div class="span12 recipe-detail-container"> 
			<div>
				<%# print_rate_button(@recipe) if user_signed_in? %>
				<div class="other-detail-block pull-right">
					<div class="star-rate-bock inline">
						<%= print_star_rates(@recipe.aggregate_ratings.to_i) %>
					</div>
					<div class="inline">
						<%= print_meal_class(@recipe.meal_class, 'list') %>
					</div>
				</div>
			</div>
			<div class="page-header">
		  	<h1> <%= @recipe.name.capitalize %></h1>
			</div>
		  <div class="carousel-wrapper">
		 		  <div id="myCarousel" class="carousel slide">
		 		    <div class="carousel-inner">
		 				  <% @recipe.photos.each_with_index do |image, index| %>
		 				    	<% if index == 0 %> 
		 				   			<div class="item active">
		 				   	 	<% else %>
		 				   			<div class="item">
		 				    	<% end %>
		 								<%=image_tag  image.avatar.url, :class => "img-rounded"%>
		 				   	</div> 
		 				  <%end%>
		 		    </div>
		 		    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		 		    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		 		  </div>
		  </div>
		
		 	<div class="row">
		 		<div class="span6">
					<div class="recipe-details"> 	
						<div class="serves ">
							<h4 class="inline">Serves : </h4>
							<p class="inline"><%= @recipe.serves %></p>
						</div>
						<div class="total-calories ">
							<h4 class="inline">Total Calories : </h4>
							<p class="inline"><%= @recipe.total_calories %></p>	
						</div>
						<div class="aggregate-ratings ">
							<h4 class="inline">Aggregate Ratings : </h4>
							<p class="inline"><%= @recipe.aggregate_ratings %></p>	
						</div>
					</div>
		 		</div>
		 		<div class="span6">
		 			<div class="star-container pull-right">
		 		  	<div class="star-inner">
		 		    	<div class="rating">
		 		      	<span class="rating-num"><%= @recipe.aggregate_ratings %></span>
			 		      <div class="rating-stars">
			 		      <%= print_star_rates_histogram(@recipe.aggregate_ratings) %>
			 		        <!-- <span><i class="active icon-star"></i></span>
			 		        <span><i class="active icon-star"></i></span>
			 		        <span><i class="active icon-star"></i></span>
			 		        <span><i class="active icon-star"></i></span>
			 		        <span><i class="icon-star"></i></span> -->
			 		      </div>
			 		      <div class="rating-users">
			 		        <i class="icon-user"></i> <%= User.count %>
			 		      </div>
		 		    	</div>
			 		    <div class="histo">
								<% @recipe_ratings_histogram.sort.each do  |key,value|%>   	
				 		      <div class="<%= key.to_words %>  histo-rate">
				 		        <span class="histo-star">
				 		          <a class="histo-star-link" href="/recipes/<%=@recipe.id%>/<%= key %>/rated_users">
				 		          	<i class="active icon-star"></i> <%= key %> 
				 		          </a>
				 		        </span>
				 		        <span class="bar-block">
				 		          <span id="bar-<%= key.to_words %>" class="bar">
				 		            <span><%= value	 %></span>&nbsp;
				 		          </span> 
				 		        </span>
				 		      </div>
								<% end %>
			 		    </div>
		 		  	</div>
		 			</div>
		 		</div>
		 	</div>
			<hr>
			<h4> Ingredients: </h4>
			  <table class="table table-bordered">
			  	<tr>
			  		<th>Ingredient name</th>
			  		<th>Meal class</th>
			  		<th>Standard measurement</th>
			  		<th>standard quantity </th>
			  		<th>quantity</th>
			  		<th>calories pers standard quantity</th>
			  	</tr>
					<% @recipe.ingredients.each_with_index do |ingred, index| %>
				  	<tr>		
				  	 	<td>
				  	 	<!-- @@TODO use named route and change below controller -->
								<%= link_to ingred.name, {:controller => :recipes, :action => :search_recipes, :'flag[ingredients]'=> ingred.name}, { method: :POST , :'data-toggle' => "tooltip", :'data-placement' => "top", :title=> "search recipes with #{ingred.name}", :class=>"ingredient-link"}%>
				  		</td>
				  		<td>
				  		 	<%= link_to ingred.meal_class, {:controller => :recipes, :action => :search_recipes, :'flag[meal_class]'=> ingred.meal_class}, { method: :POST , :'data-toggle' => "tooltip", :'data-placement' => "top", :title=> "search recipes with #{ingred.meal_class}", :class=>"meal_class-link"}%>
				  		</td>
				  		<td><%= ingred.std_measurement %></td>
				  		<td><%= ingred.std_quantity %></td>
				  		<td><%= @recipe.recipe_ingredients[index].quantity %></td>
				  		<td><%= ingred.calories_per_quantity %></td>
				  	</tr>
					<% end %>
			  </table>		
				<h4>Description : </h4>
				<p><%=raw @recipe.description %></p>
				<div class="text-center">	
					<div class="spin-block">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
					<div class="approve-reject-block">
						<%= print_approve_reject_button(@recipe) %>
						<%# list_approve_reject_button(rec, @admin_show_status) %>
					</div>
					<%= print_rate_button(@recipe) %>
					<%= print_recipe_edit_content(@recipe) if user_signed_in? %> 
				</div>		
				<div class="user-details" style="margin:0 auto;display:block;width:80%">
					<div class="left-bar inline muted"></div>
				  	<div class="inline">
				  		<h5> Authored by <em><%= link_to(@recipe.creator.name, @recipe.creator) %></em>  </h5>
				  	</div>
					<div class="right-bar muted inline"></div>
				   
				</div>

			</div>
	</div>
</div>


