<div class="container navbar-spacer">
  <div class="row">
    <div class="well">
      <div class="signup-form">
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html =>{:class => "form-horizontal"}) do |f| %>
            <%= devise_error_messages! %>
          <h2 class="text-center">New User Signup</h2>

          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <%= f.text_field :name, autofocus: true %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputConfirmPassword">Password Confirmation</label>
            <div class="controls">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <div class="control-group"> 
            <div class="controls">
              <div class="actions">
                <%= f.submit 'Sign up', :class => "btn btn-primary" %>
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
                <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


